<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			</array>
		</dict>
	</array>
	<key>INIntentDefinitionNamespace</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>INIntentsSupported</key>
	<array>
		<string>CatchABreathIntent</string>
		<string>ShockingPicturesIntent</string>
		<string>WarningByTextIntent</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>$(IPHONEOS_DEPLOYMENT_TARGET)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>IntentsRestrictedWhileLocked</key>
			<array/>
			<key>IntentsRestrictedWhileProtectedDataUnavailable</key>
			<array/>
			<key>IntentsSupported</key>
			<array>
				<string>SayHelloIntent</string>
				<string>CatchABreathIntent</string>
				<string>ShockingPicturesIntent</string>
				<string>WarningByTextIntent</string>
			</array>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.intents-service</string>
		<key>NSExtensionPrincipalClass</key>
		<string>MyIntents.IntentHandler</string>
	</dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>CatchABreathIntent</string>
		<string>OpenAppIntent</string>
		<string>ShockingPicturesIntent</string>
		<string>WarningByTextIntent</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
</dict>
</plist>
